.bgLogin {
    background-image: url('../../public/img/bgLogin.jpg');
    background-size: cover;
    position: fixed;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* acho que terminei essa parte, falta converter o código para chakra e testar */