.bgLogin {
    background-image: url('../../public/img/bgLogin.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

